.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
   
    opacity: 0.9;
    width: 100%;
    color: (---secondarColor);
    &:hover{
        opacity: 1;
    }

    &-primary{
        background-color: var(---secondarColor);
    }
    &-secondary{
        border: 1px solid var(---secondarColor);
        background-color: var(---primaryColor);
        a{
            color: var(---secondarColor);
        }
    }

    
  }
.link{
    text-decoration: none;
    color: #f2f2f2;
}
