.layout-auth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 3rem;
    background: var(---primaryColor);
    box-shadow: 0 3px 3px 0px rgba($color: #938d8dc4, $alpha: 0.1);
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}
.layout-brand{
     width: 100%;
     display: flex;
     padding-bottom: 2rem;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     line-height: 120%;
    
}
.layout-paragraph{
     color: var(---paragraphColor);
      font-weight: 300;
      font-size: 18px ;
      padding: 1rem;
}
.layout-icon{
    display: inline-block;
    border: 1px solid var(---paragraphColor);
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: var(---primaryTextColor);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.title-auth{
    font-size: var(---font-size-md);
    color: var(---primaryTextColor);
    font-weight:700 ;

}
.layout-footer{
    display: flex;
    margin-top: 2rem;
    font-size: medium;
    gap: 2rem;
    color: var(---primaryTextColor);
}
.link-back{
    color: var(---primaryTextColor);
    &:hover,
    &:active{
        color: var(---secondarColor);
    }
}